APP_NAME=TiendaCams
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=sqlsrv
DB_HOST=127.0.0.1
DB_PORT=1434
DB_DATABASE=tienda_cams
DB_USERNAME=sa
DB_PASSWORD=luis1234

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=sync